.navbar {
  margin-top: 10px;
  //   position: fixed;
}

.navbar {
  color: white;
}

.navbar:visited {
  color: rgb(23, 20, 20);
}

.navbar:hover {
  color: black;
}

.navbar:active {
  color: brown;
}
