<nav class="navbar navbar-expand-lg bg-primary sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">
      <img src="./assets/cafe_logo.png" alt="logo" height="60px" />
    </a>
    <a class="navbar-brand" routerLink=""
      ><h2 class="text-white" style="font-family: 'Times New Roman, bold'">
        Kake Di Coffee
      </h2></a
    >

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto mb-2 mb-lg-0 text-primary">
        <a
          class="nav-link active text-white"
          aria-current="page"
          routerLink="home"
          >Home</a
        >
        <a class="nav-link text-white" routerLink="menu">Menu</a>
        <a class="nav-link text-white" routerLink="commons/book-coffee"
          >Order Online</a
        >
        <a class="nav-link text-white" routerLink="commons/about">About</a>
      </div>
    </div>
  </div>
</nav>
