<div
  class="container-fluid"
  style="background-image: url('./assets/beans.jpeg')"
>
  <div class="menu">
    <main>
      <h1>Welcome</h1>
      <p>to</p>
      <h1>
        Kake Di Coffee
        <hr />
        <img
          src="./assets/cafe_logo.png"
          alt="logo"
          width="450px"
          height="350px"
        />
      </h1>
      <div class="row">
        <ul class="item">
          <strong>&#x2022;kafe&#x2022;</strong
          >&nbsp;<strong>&#x2022;coffee&#x2022;</strong>&nbsp;<strong
            >&#x2022;kafi&#x2022;</strong
          >
        </ul>
      </div>

      <hr />
      <div class="row1">
        <ul class="items">
          <strong>&#x2022;DINE IN&#x2022;</strong>
          &nbsp;

          <strong>&#x2022;ORDER ONLINE&#x2022;</strong>
          &nbsp;
          <strong>&#x2022;TAKE AWAY&#x2022;</strong>
        </ul>
      </div>
    </main>
  </div>
</div>
