.back {
  font-family: sans-serif;
  padding: 20px;
}
body {
  font-family: sans-serif;
  padding: 20px;
}

h1 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

h2 {
  font-size: 30px;
}

.established {
  font-style: italic;
}

p {
  text-align: center;
  text-decoration: solid;
  font-size: 20px;
}

.menu {
  width: 80%;
  background-color: rgb(166, 135, 95);
  margin-left: auto;
  margin-right: auto;
  // margin-top: 180px;
  padding: 20px;
  max-width: 500px;
}

.img-fluid {
  margin-top: -25px;
  display: block;
  margin-right: 90%;
}

hr {
  height: 2px;
  background-color: brown;
  border-color: brown;
}

.bottom-line {
  margin-top: 25px;
}

h1,
h2 {
  font-family: Impact, serif;
}

.item {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
  margin-left: 120px;
  text-align: center;
  padding-right: 5px;
}

.row1 {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
  // margin-left: 120px;
  text-align: center;
  padding: 5px;
}

.flavor,
.dessert {
  text-align: left;
  width: 75%;
}

.price {
  text-align: right;
  width: 25%;
}

/* FOOTER */

footer {
  font-size: 14px;
}

.address {
  margin-bottom: 5px;
}

a {
  color: white;
}

a :visited {
  color: white;
}

a :hover {
  color: black;
}

a :active {
  color: brown;
}
